<div class="jumbotron">
  <div class="header">
    <h1 class="display-4">Adrien PIZZO</h1>
    <h2>Software Engineer</h2>
  </div>

  <div class="links">
    <a href="https://gitlab.com/users/AdrienPIZZO" target="_blank" aria-label="GitLab Profile">
      <img src="gitlab-logo.png" alt="GitLab" class="logo" id="gitlab-logo">
    </a>
    <a href="https://www.linkedin.com/in/adrien-pizzo-5680b713a" target="_blank" aria-label="LinkedIn Profile">
      <img src="linkedin-logo.png" alt="LinkedIn" class="logo" id="linkedin-logo">
    </a>
  </div>
</div>
