.header {
  text-align: center;
}
.jumbotron {
  position: relative;
  padding: 0.2rem;
  background-color: white;
}

.links {
  text-align: center;
}

#gitlab-logo {
  height: 44px;
  width: 44px;
}

#linkedin-logo {
  height: 30px;
  width: 30px;
}
