<div class="container">
    <div class="col-lg shadow border rounded">
      <div class="text-center">
        <img src="profile_picture.jpg" alt="profile picture" class="border rounded-5 mt-2" />
        <p>
          Graduated from <strong>Ensimag</strong> with a specialization in Information Systems Engineering, I am a software development engineer with solid experience
          in <strong>C#</strong>, <strong>PHP</strong>, <strong>C++</strong>, <strong>Python</strong>, and <strong>Java</strong>.
          My passion lies in developing <strong>innovative</strong> and <strong>efficient</strong> solutions that tackle real-world challenges.
          I thrive on exploring new technologies and methodologies, and I am eager to take on exciting opportunities.
        </p>
      </div>
    </div>
</div>
