img {
  height: 50px;
  width: 50px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.col-4:not(:nth-last-child(-n+3)) {
  padding-bottom: 12px;
}

.col-4:nth-last-child(-n+3) {
  padding-top: 12px;
}
