<!--<h2>Technologies</h2>
<div id="technologies-list">
  <div class="tech">
    <div class="logos">
      <img src="python-logo.png" alt="Python" class="logo" id="python-logo">
    </div>
    <div class="proficiency">
      Advanced
    </div>
    <div class="where">
      <div class="item">DUT</div>
      <div class="item">Ensimag</div>
      <div class="item">Personal Projects</div>
    </div>
  </div>

  <div class="tech">
    <div class="logos">
      <img src="cpp-logo.svg" alt="C++" class="logo" id="cpp-logo">
    </div>
    <div class="proficiency">
      Advanced
    </div>
    <div class="where">
      <div class="item">DUT</div>
      <div class="item">Ensimag</div>
      <div class="item">Personal Projects</div>
    </div>
  </div>

  <div class="tech">
    <div class="logos">
      <img src="csharp-logo.svg" alt="C#" class="logo" id="csharp-logo">
    </div>
    <div class="proficiency">
      Intermediate
    </div>
    <div class="where">
      <div class="item">ChosenTactics</div>
    </div>
  </div>

  <div class="tech">
    <div class="logos">
      <img src="django-logo.png" alt="Django" class="logo" id="django-logo">
    </div>
    <div class="proficiency">
      Beginner
    </div>
    <div class="where">
      <div class="item">Ensimag</div>
      <div class="item">Personal Projects</div>
    </div>
  </div>

  <div class="tech">
    <div class="logos">
      <img src="angular-logo.svg" alt="Python" class="logo" id="angular-logo">
    </div>
    <div class="proficiency">
      Beginner
    </div>
    <div class="where">
      <div class="item">Personal Portfolio</div>
    </div>
  </div>
</div>-->
