.container {

}

#home {
  padding-top: 40px;
}

#about, #projects, #technologies, #experiences {
  padding-top: 50px;
}

.line {
  width: 75px;
  height: 2px;
  background-color: darkgreen;
  margin: 10px auto;
}
