<app-nav class="fixed-top"></app-nav>
<div class="shadow-sm" id="home">
  <app-header></app-header>
</div>

<div class="container text-center" id="about">
  <h2><strong>About</strong></h2>
  <div class="line"></div>
</div>
<app-about></app-about>

<div class="container text-center" id="technologies">
  <h2><strong>Technologies</strong></h2>
  <div class="line"></div>
</div>
<app-technologies></app-technologies>

<div class="container text-center" id="projects">
  <h2><strong>Projects</strong></h2>
  <div class="line"></div>
</div>
<app-projects></app-projects>

<div class="container text-center" id="experiences">
  <h2><strong>Experiences</strong></h2>
  <div class="line"></div>
</div>
<app-experiences></app-experiences>
