<app-nav class="fixed-top"></app-nav>
<div class="shadow-sm" id="home">
  <app-header></app-header>
</div>
<div id="about"></div>
<div class="container text-center">
  <h2><strong>About</strong></h2>
  <div class="line"></div>
</div>
<app-about></app-about>

<div id="technologies"></div>
<div class="container text-center">
  <h2><strong>Technologies</strong></h2>
  <div class="line"></div>
</div>
<app-technologies></app-technologies>

<div id="projects"></div>
<div class="container text-center">
  <h2><strong>Projects</strong></h2>
  <div class="line"></div>
</div>
<app-projects></app-projects>

<div id="experiences"></div>
<div class="container text-center">
  <h2><strong>Experiences</strong></h2>
  <div class="line"></div>
</div>
<app-experiences></app-experiences>
